/* Desktop - 1 */
.background {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #85BDBF;
}

/* Rectangle 1 */
.camera-box {
    position: absolute;
    width: 543px;
    height: 409px;
    left: 833px;
    top: 372px;

    background: #57737A;
    border-radius: 52px;
}

/* Rectangle 2 */
.title-box {
    position: absolute;
    width: 1312px;
    height: 195px;
    left: 64px;
    top: 41px;

    background: #57737A;
    border-radius: 31px;
}


/* Where Should I Trash This? */
.title-text {
    position: absolute;
    width: 1259px;
    height: 82px;
    left: 91px;
    top: 83px;

    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 105px;
    line-height: 82px;

    /* identical to box height */

    color: #FFFFFF;
}



/* Ellipse 1 */
.ellipse-1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 19px;
    top: 24px;

    background: #D9D9D9;
}

/* Ellipse 2 */
.ellipse-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 19px;
    top: 981px;

    background: #D9D9D9;
}

/* Ellipse 3 */
.ellipse-3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1396px;
    top: 981px;

    background: #D9D9D9;
}

/* Ellipse 4 */
.ellipse-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1396px;
    top: 24px;

    background: #D9D9D9;
}

/* plastic: 0.00 glass: 0.00 paper: 0.00 metal: 0.00 organic: 0.00 */
.percentages {
    position: absolute;
    width: 475px;
    height: 354px;
    left: 186px;
    top: 400px;

    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 71px;

    color: #FFFFFF;
}

/* Rectangle 3 */
.camera-button {
    position: absolute;
    width: 351px;
    height: 85px;
    left: 929px;
    top: 857px;

    background: #D9D9D9;
}

/* Turn on Camera */
.camera-text {
    position: absolute;
    width: 288px;
    height: 51px;
    left: 961px;
    top: 874px;

    font-family: 'Esteban';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height */

    color: #000000;
}